.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.QuizContainer {
    font-family: 'Arsenal', sans-serif;
    position: absolute;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 9px 9px 29px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.start {
    width: 301px;
    height: 76px;
    background: #C4A3B7;
    border-radius: 20px;
    font-family: 'Arsenal', sans-serif;
    border: #C4A3B7;
    font-size: 40px;
}

.start:active {
    background: #A77292;
}


.textMain {
    font-weight: 700;
    font-size: 54px;
}

.textQuestion {
    text-align: center;
    width: 609px;
    height: 45px;
    font-weight: 400;
    font-size: 34px;
}


.Answer {
    width: 240px;
    height: 60px;
    background: #C4A3B7;
    border-radius: 20px;
    border: #C4A3B7;
    font-family: 'Arsenal', sans-serif;
    font-size: 30px;
}
.Answer:focus {
    background: #A77292;
}

.AnswerEror {
    width: 240px;
    height: 60px;
    background: #EDBCBE;
    border-radius: 20px;
    border: #EDBCBE;
    font-family: 'Arsenal', sans-serif;
    font-size: 30px;
}
.AnswerEror:focus {
    background: #EDBCBE;
}

.AnswerGood {
    width: 240px;
    height: 60px;
    background: #ADCCA9;
    border-radius: 20px;
    border: #ADCCA9;
    font-family: 'Arsenal', sans-serif;
    font-size: 30px;
}
.AnswerGood:focus {
    background: #ADCCA9;
}

.result{
    text-align: center;
    width: 609px;
    height: 45px;
    font-weight: 400;
    font-size: 58px;
}

@media (max-width: 650px) {

}